@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Great+Vibes&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

body {
    font-family: 'Georgia', serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    /* Cambiar a min-height */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* Cambiar center a flex-start para evitar el corte superior */
}

.invitation-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 10px;
    /* Agregar un poco de espacio superior */
}

.invitation {
    width: 800px;
    padding: 60px 40px;
    /* Aumentar el padding superior para evitar el corte */
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-image: url('img/fondo2.jpeg');
    /* Fondo de la invitación */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    margin: 20px auto;
    /* Asegurar margen en pantallas pequeñas */
    border-radius: 10px;
    /* Bordes redondeados */
}


h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 3.5em;
    margin: 10px 0;
}

.couple-photo {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin: 45px auto;
    display: block;
    border: 8px solid #edcfb6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Sombra suave */
    border-radius: 10px;
    /* Bordes redondeados */
    transition: all 0.3s ease;
}

h3 {
    font-weight: 400;
    color: #4d3131;
    font-size: 1.4em;
}

.couple {
    font-size: 3.5em;
    font-weight: bold;
    color: #333;
}

p {
    font-size: 1.2em;
    color: #2e2c2c;
    margin-top: px;
}

.verse {
    font-style: italic;
    font-size: 1.2em;
    margin-top: 20px;
    margin-bottom: 0;
    font-family: 'Georgia', serif;
}

.details {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.details div {
    width: 40%;
}

/* Estilo del reproductor de música */
.reproductor-musica {
    width: 380px;
    padding: 5px 30px;
    border-radius: 20px;
    /* background-color: rgba(228, 228, 228, 0.5); */
    /* margin-bottom: 0px; */
}

.reproductor-musica h1 {
    color: #333;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 0;
}

.reproductor-musica p {
    font-size: 1rem;
    margin-bottom: 0;

}

#progreso {
    appearance: none;
    width: 100%;
    height: 5px;
    background: rgba(165, 165, 165, 0.4);
    border-radius: 4px;
    margin: 15px 0 20px;
    cursor: pointer;
    margin-bottom: 0;
}

#progreso::-webkit-slider-thumb {
    appearance: none;
    background: rgba(165, 165, 165, 0.9);
    width: 16px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    outline: 4px solid rgba(228, 228, 228, 0.9);
    box-shadow: 0 6px 10px rgba(228, 228, 228, 0.3);
}

.reproductor-musica .tiempos {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    /* Espaciado entre los dos tiempos */
    margin-top: 10px;
    /* Espacio entre la barra y los tiempos */
    margin-bottom: 0;
    font-size: 0.9rem;
    /* Tamaño del texto */
    color: #333;
    /* Color del texto */
}

#tiempoActual,
#duracionTotal {
    /* width: 50%; Cada tiempo ocupa la mitad del espacio */
    text-align: center;
    /* Centrar el texto */
}


.controles button {
    aspect-ratio: 1/1;
    margin-bottom: 40px;
    background-color: transparent;
    /* color: #fff; */
    border-radius: 50%;
    padding: 5px;
    outline: 0;
    font-size: 1.8rem;
    transition: all 0.1s linear;
}

.boton-reproducir-pausar {
    margin-top: 0;
}

.boton-reproducir-pausar:hover {
    background-color: transparent;
}

.controles .iconoControl:hover {
    transform: scale(1.2);
}

h2 {
    font-size: 1.5em;
    color: #333;
}

.icon {
    font-size: 2em;
    margin-bottom: 10px;
}

.footer {
    margin-top: 40px;
    font-size: 1.2em;
    color: #666;
}

.sub-text {
    font-size: 1em;
    color: #777;
    margin-top: 10px;
}

button {
    background-color: #edcfb6;
    border: none;
    color: black;
    padding: 15px 25px;
    font-size: 1.2em;
    border-radius: 5px;
    cursor: pointer;
    margin: 15px;
    font-family: 'Dancing Script', cursive;
}

button:hover {
    background-color: #eeb99a;
}

.highlight {
    background-color: #edcfb6;
    /* Color rojo para destacar */
}

.highlight:hover {
    background-color: #eeb99a;
}

/* Cuenta regresiva */
.countdown {
    font-size: 2em;
    margin-top: 20px;
    color: #555;
}

/* Alineación centrada de los íconos y texto */
.details div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.details .icon {
    margin-bottom: 5px;
    /* Ajuste del margen entre icono y texto */
}

/* Responsividad */
@media (max-width: 768px) {
    .invitation {
        width: 90%;
        padding: 20px;
    }

    .couple-photo {
        width: 90%;
    }

    h1 {
        font-size: 2.5em;
    }

    p,
    .verse {
        font-size: 1em;
    }

    .details {
        flex-direction: column;
        align-items: center;
    }

    .details div {
        width: 100%;
        margin-bottom: 20px;
    }

    h2 {
        font-size: 1.5em;
    }

    button {
        padding: 10px 20px;
        font-size: 1em;
    }

    .countdown {
        font-size: 1.5em;
    }

    /* Corregir espacio superior para pantallas pequeñas */
    .invitation {
        margin-top: 30px;
    }
}

@media (max-width: 480px) {
    .couple {
        font-size: 3.4em;
    }

    p,
    .verse {
        padding-bottom: 5px;
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.9em;
    }

    .details div {
        width: 100%;
    }

    button {
        padding: 8px 16px;
        font-size: 1.4em;
    }

    .countdown {
        font-size: 1.6em;
    }

    /* Ajustar margen superior en pantallas muy pequeñas */
    .invitation {
        margin-top: 20px;
    }

    .countdown {
        font-size: 1.9em;
        padding: 20px;
    }

}

/* Estilos del popup */
.envelope {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #f5f5f0;
    /* Similar to the envelope color */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    overflow: hidden;
}

.desktop-left {
    display: none;
}

.desktop-right {
    display: none;
}

.envelope-right {
    position: absolute;
    width: 65%;
    height: 100%;
    transition: transform 1.9s ease;
}

.envelope-left {
    position: absolute;
    width: 140%;
    height: 100%;
    transition: transform 1.9s ease;
}

.envelope-left {
    left: 0;
}

.envelope-right {
    right: 0;
}

.open-btn {
    position: absolute;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 2;
    background: none;
    animation: pulse 2.2s infinite;
}

/* Efecto de pulsación */
@keyframes pulse {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }
}

/* Estilo del mensaje flotante */
.delayed-tooltip {
    display: block;
    opacity: 0;
    position: absolute;
    top: -10px;
    left: 52%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
    animation: fadeIn 0.5s ease-in-out 2s forwards;
    /* Animación con retraso */
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.open-btn:hover .tooltip {
    display: block;
}

.open-btn img {
    width: 40%;
    height: 100%;
    object-fit: contain;
}

.open-btn:hover {
    background-color: transparent;
}

.hidden {
    display: none;
}

/* Opening animation */
.opened .envelope-left {
    transform: translateX(-100%);
}

.opened .envelope-right {
    transform: translateX(100%);
}

@media (min-width: 768px) {
    .envelope-right {
        display: none;
    }

    .envelope-left {
        display: none;
    }

    .desktop-left {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        z-index: 1;
    }

    .desktop-right {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        z-index: 1;
    }

    .desktop-left {
        background-image: url('img/escritorio-izquierda.png');
    }

    .desktop-right {
        background-image: url('img/escritorio-derecha.png');
    }

    .open-btn {
        position: absolute;
        transform: translateY(-50%);
        cursor: pointer;
        z-index: 2;
        background: none;
        animation: pulse 2.2s infinite;
    }

    /* Efecto de pulsación */
    @keyframes pulse {

        0%,
        100% {
            transform: scale(1);
        }

        50% {
            transform: scale(1.05);
        }
    }
}



/* Estilo para la sección de recomendaciones */
.event-info {
    margin-top: 20px;
    padding: 15px;
    background-color: rgba(237, 207, 182, 0.2);
    /* border-left: 5px solid #edcfb6; Borde izquierdo */
    font-size: 1.1em;
    color: #333;
    border-radius: 8px;
}